body{
    background-image: url(../images/whitewaves.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;   
    max-width: 100%;
    overflow-x: hidden;
}
header {
    background: #ffffff;
    margin: 0;
    height: 80px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-color: #cccccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;     
}
.name {
background: #4aaaa5;
width: fit-content;
color: white;
height: 50px;
text-align:center;
margin-right: 625px;
float: left;
margin-top: 15px;
padding-top: 15px;
}
.about{ 
    color: #777777;    
}
.Portfolio{
    color: #777777;
}
.Contact{
    color: #777777;
}

#page-wrap {
    height:80px;
    width: 960px;
    margin: 0 auto;
}
.box{
    background-color: #ffffff;
    border-color: #dddddd;
    margin-top: 100px;
    width: 960px;
    height: 500px;
    clear: both;
}
img{
    float: left;
    margin: 20px;
}
h3{
    clear: both;
    padding-top: 10px;
    Color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 20px;
}
.line {
    background-color: #777777;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;
}
P{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 20px;
}
footer {
    background: #666666;
    position: fixed;
    bottom: 0;
    left 0;
    width: 100%;
    height: 30px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}
input[type=text] {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;  
}
input[type=text1] {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    height: 100px;
}

@media screen and (max-width:980px) {
    .name {
        margin-left: 40px;
    }
    .box{
        margin-left: 40px;
        width: 500px;
        height: 300px;        
    }
    P{
       font-size: 10px;  
    }
    img{
        height: 50%;
    }
    .about{
        position: fixed;
        right: 30px;
    }
}

@media screen and (max-width:768px) {
    .box{    
        width: 90%;  
        position: fixed;
        right: 30px;
        left: 0px;
    }
    P{
        font-size: 12px; 
        margin-right: 40px;
    }
    img{
        height: 50%;
    }
}

@media screen and (max-width:640px) {
    header{
        margin-top: 20px;
    }
    .name {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
       width: 100%;
    }
    .box{    
        width: 90%; 
        height: 70%; 
        position: fixed;

        right: 30px;
        left: 0px;
    }
    p{
        clear: both;
        font-size: 10px; 
    }
    img{
        height: 40%;
        width: 93%;
        margin-left: 20px;
    }
    .about{
        margin-top: 50px;
        margin-right:170px;    
    }
    .box{
        margin-top: 120px;
    }
}